.like-button{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    transition: opacity .3s;
}
.like-button::after{
    content: url('../../images/like-button_disabled.svg');
}
.like-button:hover{
    opacity: .5;
}