.add-button{
    padding: 25px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    width: 282px;
    background: url('../../images/add-button.svg') no-repeat center;
    cursor: pointer;
    transition: opacity .3s;
}

.add-button:hover{
    opacity: .6;
}

@media screen and (min-width: 1024px) {
    .add-button{
        width: 150px;
    }
}