.like-button{
    width: 22px;
    height: 19px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    transition: opacity .3s;
    background: url('../../images/like-button_disabled.svg') center/contain no-repeat;
}

@media(hover:hover){
    .like-button:hover{
        opacity: .5;
    }
}
@media(hover:none){
    .like-button:active{
        opacity: .5;
    }
}