.profile__job{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
    .profile__job{
        font-size: 18px;
        line-height: 22px;
    }
}