.popup__submit{
    margin-top: 32px;
    background: #000000;
    border: none;
    border-radius: 2px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding: 14px 0;
    transition: opacity .3s;
    cursor: pointer;
}

@media(hover:hover){
    .popup__submit:hover{
        opacity: .8;
    }
}
@media(hover:none){
    .popup__submit:active{
        opacity: .8;
    }
}

@media screen and (min-width: 1024px) {
    .popup__submit{
        margin-top: 32px;
        font-size: 18px;
        line-height: 22px;
    }
}